USE [SNP_SubSystem]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[PageID] [uniqueidentifier] NULL,
	[Action] [nvarchar](50) NOT NULL,
	[ObjectType] [nvarchar](100) NULL,
	[ObjectID] [nvarchar](100) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[Description] [nvarchar](500) NULL,
	[IPAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyOutput]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyOutput](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionInfoID] [uniqueidentifier] NOT NULL,
	[ProductionMachineID] [uniqueidentifier] NOT NULL,
	[StyleInfoID] [uniqueidentifier] NULL,
	[TotalOutputNumber] [int] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyOutputDetail]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyOutputDetail](
	[ID] [uniqueidentifier] NOT NULL,
	[DailyOutputID] [uniqueidentifier] NULL,
	[StyleDetailID] [uniqueidentifier] NOT NULL,
	[OutputNumber] [int] NULL,
	[InputTime] [time](7) NOT NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ControllerName] [nvarchar](100) NULL,
	[Path] [nvarchar](255) NULL,
	[ParentID] [uniqueidentifier] NULL,
	[SortOrder] [int] NOT NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionDepartment]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionDepartment](
	[ID] [uniqueidentifier] NOT NULL,
	[DepartmentName] [nvarchar](255) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionDepartmentLayout]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionDepartmentLayout](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[RowCount] [int] NOT NULL,
	[ColumnCount] [int] NOT NULL,
	[CellWidth] [decimal](18, 4) NULL,
	[CellHeight] [decimal](18, 4) NULL,
	[Gap] [decimal](18, 4) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionInfo]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionInfo](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentID] [uniqueidentifier] NOT NULL,
	[Line] [varchar](5) NULL,
	[Style] [varchar](50) NULL,
	[SPMain] [varchar](50) NULL,
	[TotalQty] [int] NULL,
	[FinishQTY] [int] NULL,
	[Color] [varchar](50) NULL,
	[Target] [int] NULL,
	[InlineLine] [date] NULL,
	[InlineDepartment] [date] NULL,
	[Remark] [nvarchar](255) NULL,
	[Machine] [int] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionMachine]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionMachine](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentID] [uniqueidentifier] NOT NULL,
	[MachineNumber] [nvarchar](100) NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Producti__3214EC278D2C1BF7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLayoutItem]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLayoutItem](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionMachineID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentLayoutID] [uniqueidentifier] NOT NULL,
	[X] [decimal](10, 2) NULL,
	[Y] [decimal](10, 2) NULL,
	[Width] [decimal](10, 2) NULL,
	[Height] [decimal](10, 2) NULL,
	[RowIndex] [int] NULL,
	[ColumnIndex] [int] NULL,
	[SortOrder] [int] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ProductLayoutItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePagePermissions]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePagePermissions](
	[ID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[PageID] [uniqueidentifier] NOT NULL,
	[PermissionID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StyleDetail]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StyleDetail](
	[ID] [uniqueidentifier] NOT NULL,
	[StyleInfoID] [uniqueidentifier] NOT NULL,
	[DetailName] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StyleInfo]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StyleInfo](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentID] [uniqueidentifier] NOT NULL,
	[StyleCode] [nvarchar](100) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPagePermissions]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPagePermissions](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[PageID] [uniqueidentifier] NOT NULL,
	[PermissionID] [uniqueidentifier] NOT NULL,
	[IsGranted] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/14/2026 7:31:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[MSNV] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[HashCode] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Users__3214EC2749C0636F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DailyOutput] ([ID], [ProductionInfoID], [ProductionMachineID], [StyleInfoID], [TotalOutputNumber], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'2e6eebbc-3130-428c-a0cb-12981c5028e7', N'75f1d556-192e-4579-b0da-19ffa5eff168', N'1c1559f5-2eaa-4b56-987a-637777161c8b', NULL, 0, NULL, 1, CAST(N'2026-09-10T16:29:58.720' AS DateTime), CAST(N'2026-09-10T16:29:58.720' AS DateTime), NULL, NULL)
INSERT [dbo].[DailyOutput] ([ID], [ProductionInfoID], [ProductionMachineID], [StyleInfoID], [TotalOutputNumber], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'd4eebc73-a2e2-494f-beab-153ce8f50397', N'5bacae63-1a80-44b9-9f90-09def4694d89', N'1c1559f5-2eaa-4b56-987a-637777161c8b', NULL, 1, NULL, 1, CAST(N'2026-09-12T11:37:46.470' AS DateTime), CAST(N'2026-09-12T11:38:28.953' AS DateTime), NULL, NULL)
INSERT [dbo].[DailyOutput] ([ID], [ProductionInfoID], [ProductionMachineID], [StyleInfoID], [TotalOutputNumber], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'0f761171-923a-4a01-850c-282747f5156f', N'bab590be-d2a9-4ae6-b7c9-476b3e2f38fc', N'4ce209e9-8cfd-4f19-add6-773a1aee3afe', N'c6f7ab47-45c9-4025-9c27-7a5bd22dc38c', 250, N'2026-09-02-AT-01', 1, CAST(N'2026-09-02T17:00:00.000' AS DateTime), CAST(N'2026-09-02T17:00:00.000' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[DailyOutputDetail] ([ID], [DailyOutputID], [StyleDetailID], [OutputNumber], [InputTime], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'0877f214-c0db-44c2-b080-0a299ba277df', N'9621383e-c8e4-4613-a8c0-54de58dfca01', N'e4340d8c-8211-4b06-b365-578adb6d07f0', 100, CAST(N'18:12:00' AS Time), NULL, 1, CAST(N'2026-09-10T18:12:30.683' AS DateTime), CAST(N'2026-09-10T18:12:30.683' AS DateTime), NULL, NULL)
INSERT [dbo].[DailyOutputDetail] ([ID], [DailyOutputID], [StyleDetailID], [OutputNumber], [InputTime], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'c58e9d2c-f94b-4e61-9640-0dd5938d4846', N'58741636-6353-41d2-80e9-3ce98ae28ff7', N'e694f23b-1635-466b-96c5-8a7bdfe4693f', 1000, CAST(N'14:30:00' AS Time), N'Ca chiều', 1, CAST(N'2026-09-04T14:30:00.000' AS DateTime), CAST(N'2026-09-04T14:30:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[DailyOutputDetail] ([ID], [DailyOutputID], [StyleDetailID], [OutputNumber], [InputTime], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'2a358518-888c-4d15-a8dc-12b6ae2a37b7', N'1f0dcbaa-dbf5-4481-8560-8d98927dffc8', N'43f5685e-d681-425c-8965-1c6ffb2f8122', 100, CAST(N'19:05:00' AS Time), NULL, 1, CAST(N'2026-09-10T19:05:57.460' AS DateTime), CAST(N'2026-09-10T19:05:57.460' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ProductionDepartment] ([ID], [DepartmentName], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'4d0c9a78-0408-4657-b2a8-6ffb36e09549', N'BO-LA', N'BO-LA', 1, CAST(N'2026-09-12T12:29:33.850' AS DateTime), CAST(N'2026-09-12T12:29:33.850' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductionDepartment] ([ID], [DepartmentName], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'5eac5450-acc7-4f32-acd5-725a9bc9d0ec', N'EMB', N'EMB', 1, CAST(N'2026-09-03T17:53:52.557' AS DateTime), CAST(N'2026-09-11T17:56:48.667' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductionDepartment] ([ID], [DepartmentName], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'a330fb7f-d436-48c4-9f58-9b657fbd9254', N'HT', N'HT', 1, CAST(N'2026-09-11T17:57:09.147' AS DateTime), CAST(N'2026-09-11T17:57:09.147' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ProductionDepartmentLayout] ([ID], [ProductionDepartmentID], [Name], [RowCount], [ColumnCount], [CellWidth], [CellHeight], [Gap], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'c11066f0-5632-4320-bcec-76cd745beb42', N'5eac5450-acc7-4f32-acd5-725a9bc9d0ec', N'Layout EMB', 4, 4, NULL, NULL, CAST(12.0000 AS Decimal(18, 4)), 1, CAST(N'2026-09-09T18:44:09.630' AS DateTime), CAST(N'2026-09-11T18:58:51.960' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductionDepartmentLayout] ([ID], [ProductionDepartmentID], [Name], [RowCount], [ColumnCount], [CellWidth], [CellHeight], [Gap], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'aef709b9-51e7-4c86-858e-b987a7debca6', N'aed6de92-4664-4592-a59e-ee886661ee53', N'Layout AT', 13, 10, NULL, NULL, CAST(12.0000 AS Decimal(18, 4)), 1, CAST(N'2026-09-09T18:43:12.967' AS DateTime), CAST(N'2026-09-12T10:11:35.310' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ProductionInfo] ([ID], [ProductionDepartmentID], [Line], [Style], [SPMain], [TotalQty], [FinishQTY], [Color], [Target], [InlineLine], [InlineDepartment], [Remark], [Machine], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'003af0ab-c721-4fa0-b74d-00e2744c2b06', N'5eac5450-acc7-4f32-acd5-725a9bc9d0ec', N'4', N'IR6582', N'26090527TB', 2129, 0, N'010', 330, CAST(N'2026-09-11' AS Date), CAST(N'2026-09-10' AS Date), NULL, 1, N'EMB-IR6582-010', 1, CAST(N'2026-09-03T17:53:52.560' AS DateTime), CAST(N'2026-09-12T15:35:28.157' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductionInfo] ([ID], [ProductionDepartmentID], [Line], [Style], [SPMain], [TotalQty], [FinishQTY], [Color], [Target], [InlineLine], [InlineDepartment], [Remark], [Machine], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'5bacae63-1a80-44b9-9f90-09def4694d89', N'aed6de92-4664-4592-a59e-ee886661ee53', N'13', N'IM5117', N'26100186TB', 1020, 0, N'307', 250, CAST(N'2026-09-16' AS Date), CAST(N'2026-09-15' AS Date), NULL, 3, N'AT-IM5117-307', 2, CAST(N'2026-09-03T17:53:52.560' AS DateTime), CAST(N'2026-09-12T15:35:19.393' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ProductionMachine] ([ID], [ProductionDepartmentID], [MachineNumber], [Remark], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'cbabb6c6-358a-4951-8c5b-1c5547d23192', N'5eac5450-acc7-4f32-acd5-725a9bc9d0ec', N'Máy 01', NULL, NULL, 1, CAST(N'2026-09-09T18:44:09.630' AS DateTime), CAST(N'2026-09-09T18:44:09.630' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductionMachine] ([ID], [ProductionDepartmentID], [MachineNumber], [Remark], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'78fd801f-3644-48a2-91c3-2aed8ed7ebc4', N'aed6de92-4664-4592-a59e-ee886661ee53', N'AT-03', NULL, NULL, 2, CAST(N'2026-09-03T17:53:52.560' AS DateTime), CAST(N'2026-09-12T10:11:35.310' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductionMachine] ([ID], [ProductionDepartmentID], [MachineNumber], [Remark], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'caea54d2-b163-4795-9dcf-3017ffc91be7', N'5eac5450-acc7-4f32-acd5-725a9bc9d0ec', N'EMB-01', N'Máy EMB Line 4', N'EMB-L4', 1, CAST(N'2026-09-03T17:53:52.560' AS DateTime), CAST(N'2026-09-03T17:53:52.560' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ProductLayoutItem] ([ID], [ProductionMachineID], [ProductionDepartmentLayoutID], [X], [Y], [Width], [Height], [RowIndex], [ColumnIndex], [SortOrder], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'8aed9c26-12fa-4f8f-ac8f-0292e32c174b', N'05a86d0e-f1bf-4761-af39-7d985a7f875a', N'c11066f0-5632-4320-bcec-76cd745beb42', NULL, NULL, NULL, NULL, 1, 1, NULL, NULL, 1, CAST(N'2026-09-11T18:58:51.960' AS DateTime), CAST(N'2026-09-11T18:58:51.960' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductLayoutItem] ([ID], [ProductionMachineID], [ProductionDepartmentLayoutID], [X], [Y], [Width], [Height], [RowIndex], [ColumnIndex], [SortOrder], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'2829be79-f448-4b3f-8cfb-04b9e8b8253d', N'76a3a56b-265b-4712-96e2-6f5dcd96d2cc', N'aef709b9-51e7-4c86-858e-b987a7debca6', NULL, NULL, NULL, NULL, 2, 2, NULL, NULL, 0, CAST(N'2026-09-09T18:54:42.047' AS DateTime), CAST(N'2026-09-09T19:12:52.580' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductLayoutItem] ([ID], [ProductionMachineID], [ProductionDepartmentLayoutID], [X], [Y], [Width], [Height], [RowIndex], [ColumnIndex], [SortOrder], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'5f35b320-ffa3-4dde-a644-46aa60ddb3f3', N'0e94eb2d-7cfe-427e-8d02-f7e640123a84', N'aef709b9-51e7-4c86-858e-b987a7debca6', NULL, NULL, NULL, NULL, 1, 2, NULL, NULL, 1, CAST(N'2026-09-09T19:12:52.580' AS DateTime), CAST(N'2026-09-12T10:11:35.310' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[StyleDetail] ([ID], [StyleInfoID], [DetailName], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'43f5685e-d681-425c-8965-1c6ffb2f8122', N'7b33d06e-fd02-41e3-ab98-8ebea52f7624', N'Thân trước', 1, CAST(N'2026-09-03T17:53:52.560' AS DateTime), CAST(N'2026-09-03T17:53:52.560' AS DateTime), NULL, NULL)
INSERT [dbo].[StyleDetail] ([ID], [StyleInfoID], [DetailName], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'7140b02b-0143-4fb9-abc1-3197f1832b9c', N'93f37895-387f-4eda-b77f-a098ed9ced9a', N'Thân trước', 1, CAST(N'2026-09-03T17:53:52.560' AS DateTime), CAST(N'2026-09-03T17:53:52.560' AS DateTime), NULL, NULL)
INSERT [dbo].[StyleDetail] ([ID], [StyleInfoID], [DetailName], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'666d2502-6a59-46ad-b0dd-36e241ed26d1', N'b25fa8f1-b9ca-47cd-b343-1bbf83819601', N'Tay', 1, CAST(N'2026-09-11T19:53:28.643' AS DateTime), CAST(N'2026-09-11T19:53:28.643' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[StyleInfo] ([ID], [ProductionDepartmentID], [StyleCode], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'b25fa8f1-b9ca-47cd-b343-1bbf83819601', N'a330fb7f-d436-48c4-9f58-9b657fbd9254', N'IM8456', N'IM8456', 1, CAST(N'2026-09-11T19:53:28.643' AS DateTime), CAST(N'2026-09-11T19:53:28.643' AS DateTime), NULL, NULL)
INSERT [dbo].[StyleInfo] ([ID], [ProductionDepartmentID], [StyleCode], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'49a766b6-1503-4cdd-b2db-68401ab0b067', N'aed6de92-4664-4592-a59e-ee886661ee53', N'IM5481', N'STYLE-IM5481', 1, CAST(N'2026-09-03T17:53:52.560' AS DateTime), CAST(N'2026-09-11T16:57:52.927' AS DateTime), NULL, NULL)
INSERT [dbo].[StyleInfo] ([ID], [ProductionDepartmentID], [StyleCode], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'c6f7ab47-45c9-4025-9c27-7a5bd22dc38c', N'aed6de92-4664-4592-a59e-ee886661ee53', N'HV2745', N'STYLE-HV2745', 1, CAST(N'2026-09-03T17:53:52.560' AS DateTime), CAST(N'2026-09-03T17:53:52.560' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Users] ([ID], [Username], [MSNV], [Email], [PasswordHash], [HashCode], [FullName], [Keyword], [Status], [ExpiryDate], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'044bbfb5-7aa4-4bd0-bd7d-eb13147d7cb0', N'N20226', N'N20226', N'nhathoai2004@gmail.com', N'c2d40baace0dd5f84b9b74511a8549c152637a4481e3f1109bd8590a5976cc34', N'180c8218c89bfc6ac9e28cdda976689f', N'Mai Nhat Hoai', N'', 0, CAST(N'2027-12-31T00:00:00.000' AS DateTime), CAST(N'2026-09-12T16:56:09.753' AS DateTime), CAST(N'2026-09-12T16:57:20.570' AS DateTime), NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Pages__A25C5AA75C8FD3DD]    Script Date: 9/14/2026 7:31:14 AM ******/
ALTER TABLE [dbo].[Pages] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__A25C5AA7C8B2E3DA]    Script Date: 9/14/2026 7:31:14 AM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RolePagePermissions]    Script Date: 9/14/2026 7:31:14 AM ******/
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [UQ_RolePagePermissions] UNIQUE NONCLUSTERED 
(
	[RoleID] ASC,
	[PageID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__A25C5AA73C06C68F]    Script Date: 9/14/2026 7:31:14 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserPagePermissions]    Script Date: 9/14/2026 7:31:14 AM ******/
ALTER TABLE [dbo].[UserPagePermissions] ADD  CONSTRAINT [UQ_UserPagePermissions] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[PageID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserRoles]    Script Date: 9/14/2026 7:31:14 AM ******/
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [UQ_UserRoles] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4505ABDEB]    Script Date: 9/14/2026 7:31:14 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E4505ABDEB] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__6CB3885EDC394B36]    Script Date: 9/14/2026 7:31:14 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__6CB3885EDC394B36] UNIQUE NONCLUSTERED 
(
	[MSNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105347083461A]    Script Date: 9/14/2026 7:31:14 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__A9D105347083461A] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT (CONVERT([time],getdate())) FOR [InputTime]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__ProductionMa__ID__5AEE82B9]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__Productio__Statu__5BE2A6F2]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__Productio__Creat__5CD6CB2B]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__Productio__Updat__5DCAEF64]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductLayoutItem] ADD  CONSTRAINT [DF__ProductLa__Statu__3B40CD36]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[UserPagePermissions] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[UserPagePermissions] ADD  DEFAULT ((1)) FOR [IsGranted]
GO
ALTER TABLE [dbo].[UserPagePermissions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[UserPagePermissions] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[UserPagePermissions] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__ID__5224328E]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Status__531856C7]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreateDat__540C7B00]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__UpdateDat__55009F39]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_Log_Page] FOREIGN KEY([PageID])
REFERENCES [dbo].[Pages] ([ID])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_Log_Page]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_Log_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_Log_User]
GO
ALTER TABLE [dbo].[DailyOutput]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutput_ProductionInfo] FOREIGN KEY([ProductionInfoID])
REFERENCES [dbo].[ProductionInfo] ([ID])
GO
ALTER TABLE [dbo].[DailyOutput] CHECK CONSTRAINT [FK_DailyOutput_ProductionInfo]
GO
ALTER TABLE [dbo].[DailyOutput]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutput_ProductionMachine1] FOREIGN KEY([ProductionMachineID])
REFERENCES [dbo].[ProductionMachine] ([ID])
GO
ALTER TABLE [dbo].[DailyOutput] CHECK CONSTRAINT [FK_DailyOutput_ProductionMachine1]
GO
ALTER TABLE [dbo].[DailyOutput]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutput_StyleInfo] FOREIGN KEY([StyleInfoID])
REFERENCES [dbo].[StyleInfo] ([ID])
GO
ALTER TABLE [dbo].[DailyOutput] CHECK CONSTRAINT [FK_DailyOutput_StyleInfo]
GO
ALTER TABLE [dbo].[DailyOutputDetail]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutputDetail_DailyOutput] FOREIGN KEY([DailyOutputID])
REFERENCES [dbo].[DailyOutput] ([ID])
GO
ALTER TABLE [dbo].[DailyOutputDetail] CHECK CONSTRAINT [FK_DailyOutputDetail_DailyOutput]
GO
ALTER TABLE [dbo].[DailyOutputDetail]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutputDetail_StyleDetail] FOREIGN KEY([StyleDetailID])
REFERENCES [dbo].[StyleDetail] ([ID])
GO
ALTER TABLE [dbo].[DailyOutputDetail] CHECK CONSTRAINT [FK_DailyOutputDetail_StyleDetail]
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD  CONSTRAINT [FK_Pages_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Pages] ([ID])
GO
ALTER TABLE [dbo].[Pages] CHECK CONSTRAINT [FK_Pages_Parent]
GO
ALTER TABLE [dbo].[ProductionDepartmentLayout]  WITH CHECK ADD  CONSTRAINT [FK_ProductionDepartmentLayout_ProductionDepartment] FOREIGN KEY([ProductionDepartmentID])
REFERENCES [dbo].[ProductionDepartment] ([ID])
GO
ALTER TABLE [dbo].[ProductionDepartmentLayout] CHECK CONSTRAINT [FK_ProductionDepartmentLayout_ProductionDepartment]
GO
ALTER TABLE [dbo].[ProductionInfo]  WITH CHECK ADD  CONSTRAINT [FK_ProductionInfo_ProductionDepartment] FOREIGN KEY([ProductionDepartmentID])
REFERENCES [dbo].[ProductionDepartment] ([ID])
GO
ALTER TABLE [dbo].[ProductionInfo] CHECK CONSTRAINT [FK_ProductionInfo_ProductionDepartment]
GO
ALTER TABLE [dbo].[ProductionMachine]  WITH CHECK ADD  CONSTRAINT [FK_ProductionMachine_ProductionDepartment] FOREIGN KEY([ProductionDepartmentID])
REFERENCES [dbo].[ProductionDepartment] ([ID])
GO
ALTER TABLE [dbo].[ProductionMachine] CHECK CONSTRAINT [FK_ProductionMachine_ProductionDepartment]
GO
ALTER TABLE [dbo].[ProductLayoutItem]  WITH CHECK ADD  CONSTRAINT [FK_ProductLayoutItem_ProductionDepartmentLayout] FOREIGN KEY([ProductionDepartmentLayoutID])
REFERENCES [dbo].[ProductionDepartmentLayout] ([ID])
GO
ALTER TABLE [dbo].[ProductLayoutItem] CHECK CONSTRAINT [FK_ProductLayoutItem_ProductionDepartmentLayout]
GO
ALTER TABLE [dbo].[ProductLayoutItem]  WITH CHECK ADD  CONSTRAINT [FK_ProductLayoutItem_ProductionMachine] FOREIGN KEY([ProductionMachineID])
REFERENCES [dbo].[ProductionMachine] ([ID])
GO
ALTER TABLE [dbo].[ProductLayoutItem] CHECK CONSTRAINT [FK_ProductLayoutItem_ProductionMachine]
GO
ALTER TABLE [dbo].[RolePagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RPP_Page] FOREIGN KEY([PageID])
REFERENCES [dbo].[Pages] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePagePermissions] CHECK CONSTRAINT [FK_RPP_Page]
GO
ALTER TABLE [dbo].[RolePagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RPP_Permission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePagePermissions] CHECK CONSTRAINT [FK_RPP_Permission]
GO
ALTER TABLE [dbo].[RolePagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RPP_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePagePermissions] CHECK CONSTRAINT [FK_RPP_Role]
GO
ALTER TABLE [dbo].[StyleDetail]  WITH CHECK ADD  CONSTRAINT [FK_StyleDetail_StyleInfo] FOREIGN KEY([StyleInfoID])
REFERENCES [dbo].[StyleInfo] ([ID])
GO
ALTER TABLE [dbo].[StyleDetail] CHECK CONSTRAINT [FK_StyleDetail_StyleInfo]
GO
ALTER TABLE [dbo].[UserPagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_UPP_Page] FOREIGN KEY([PageID])
REFERENCES [dbo].[Pages] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPagePermissions] CHECK CONSTRAINT [FK_UPP_Page]
GO
ALTER TABLE [dbo].[UserPagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_UPP_Permission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPagePermissions] CHECK CONSTRAINT [FK_UPP_Permission]
GO
ALTER TABLE [dbo].[UserPagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_UPP_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPagePermissions] CHECK CONSTRAINT [FK_UPP_User]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [CK_Log_NewValue_JSON] CHECK  (([NewValue] IS NULL OR isjson([NewValue])=(1)))
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [CK_Log_NewValue_JSON]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [CK_Log_OldValue_JSON] CHECK  (([OldValue] IS NULL OR isjson([OldValue])=(1)))
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [CK_Log_OldValue_JSON]
GO
