USE [SNP_SubSystem]
GO
/****** Object:  Table [dbo].[DailyOutput]    Script Date: 9/2/2026 3:18:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyOutput](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionInfoID] [uniqueidentifier] NOT NULL,
	[ProductionMachineID] [uniqueidentifier] NOT NULL,
	[StyleInfoID] [uniqueidentifier] NULL,
	[TotalOutputNumber] [int] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyOutputDetail]    Script Date: 9/2/2026 3:18:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyOutputDetail](
	[ID] [uniqueidentifier] NOT NULL,
	[DailyOutputID] [uniqueidentifier] NULL,
	[StyleDetailID] [uniqueidentifier] NOT NULL,
	[OutputNumber] [int] NULL,
	[InputTime] [time](7) NOT NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionDepartment]    Script Date: 9/2/2026 3:18:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionDepartment](
	[ID] [uniqueidentifier] NOT NULL,
	[DepartmentName] [nvarchar](255) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionInfo]    Script Date: 9/2/2026 3:18:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionInfo](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentID] [uniqueidentifier] NOT NULL,
	[Line] [varchar](5) NULL,
	[Style] [varchar](50) NULL,
	[SPMain] [varchar](50) NULL,
	[TotalQty] [int] NULL,
	[FinishQTY] [int] NULL,
	[Color] [varchar](50) NULL,
	[Target] [int] NULL,
	[InlineLine] [date] NULL,
	[InlineDepartment] [date] NULL,
	[Remark] [nvarchar](255) NULL,
	[Machine] [int] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionMachine]    Script Date: 9/2/2026 3:18:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionMachine](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentID] [uniqueidentifier] NOT NULL,
	[MachineNumber] [nvarchar](100) NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Producti__3214EC278D2C1BF7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StyleDetail]    Script Date: 9/2/2026 3:18:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StyleDetail](
	[ID] [uniqueidentifier] NOT NULL,
	[StyleInfoID] [uniqueidentifier] NOT NULL,
	[DetailName] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StyleInfo]    Script Date: 9/2/2026 3:18:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StyleInfo](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentID] [uniqueidentifier] NOT NULL,
	[StyleCode] [nvarchar](100) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT (CONVERT([time],getdate())) FOR [InputTime]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__ProductionMa__ID__5AEE82B9]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__Productio__Statu__5BE2A6F2]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__Productio__Creat__5CD6CB2B]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__Productio__Updat__5DCAEF64]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[DailyOutput]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutput_ProductionInfo] FOREIGN KEY([ProductionInfoID])
REFERENCES [dbo].[ProductionInfo] ([ID])
GO
ALTER TABLE [dbo].[DailyOutput] CHECK CONSTRAINT [FK_DailyOutput_ProductionInfo]
GO
ALTER TABLE [dbo].[DailyOutput]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutput_ProductionMachine1] FOREIGN KEY([ProductionMachineID])
REFERENCES [dbo].[ProductionMachine] ([ID])
GO
ALTER TABLE [dbo].[DailyOutput] CHECK CONSTRAINT [FK_DailyOutput_ProductionMachine1]
GO
ALTER TABLE [dbo].[DailyOutput]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutput_StyleInfo] FOREIGN KEY([StyleInfoID])
REFERENCES [dbo].[StyleInfo] ([ID])
GO
ALTER TABLE [dbo].[DailyOutput] CHECK CONSTRAINT [FK_DailyOutput_StyleInfo]
GO
ALTER TABLE [dbo].[DailyOutputDetail]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutputDetail_DailyOutput] FOREIGN KEY([DailyOutputID])
REFERENCES [dbo].[DailyOutput] ([ID])
GO
ALTER TABLE [dbo].[DailyOutputDetail] CHECK CONSTRAINT [FK_DailyOutputDetail_DailyOutput]
GO
ALTER TABLE [dbo].[DailyOutputDetail]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutputDetail_StyleDetail] FOREIGN KEY([StyleDetailID])
REFERENCES [dbo].[StyleDetail] ([ID])
GO
ALTER TABLE [dbo].[DailyOutputDetail] CHECK CONSTRAINT [FK_DailyOutputDetail_StyleDetail]
GO
ALTER TABLE [dbo].[ProductionInfo]  WITH CHECK ADD  CONSTRAINT [FK_ProductionInfo_ProductionDepartment] FOREIGN KEY([ProductionDepartmentID])
REFERENCES [dbo].[ProductionDepartment] ([ID])
GO
ALTER TABLE [dbo].[ProductionInfo] CHECK CONSTRAINT [FK_ProductionInfo_ProductionDepartment]
GO
ALTER TABLE [dbo].[ProductionMachine]  WITH CHECK ADD  CONSTRAINT [FK_ProductionMachine_ProductionDepartment] FOREIGN KEY([ProductionDepartmentID])
REFERENCES [dbo].[ProductionDepartment] ([ID])
GO
ALTER TABLE [dbo].[ProductionMachine] CHECK CONSTRAINT [FK_ProductionMachine_ProductionDepartment]
GO
ALTER TABLE [dbo].[StyleDetail]  WITH CHECK ADD  CONSTRAINT [FK_StyleDetail_StyleInfo] FOREIGN KEY([StyleInfoID])
REFERENCES [dbo].[StyleInfo] ([ID])
GO
ALTER TABLE [dbo].[StyleDetail] CHECK CONSTRAINT [FK_StyleDetail_StyleInfo]
GO
