USE [SNP_SubSystem]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[PageID] [uniqueidentifier] NULL,
	[Action] [nvarchar](50) NOT NULL,
	[ObjectType] [nvarchar](100) NULL,
	[ObjectID] [nvarchar](100) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
	[Description] [nvarchar](500) NULL,
	[IPAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyOutput]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyOutput](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionInfoID] [uniqueidentifier] NOT NULL,
	[ProductionMachineID] [uniqueidentifier] NOT NULL,
	[StyleInfoID] [uniqueidentifier] NULL,
	[TotalOutputNumber] [int] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyOutputDetail]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyOutputDetail](
	[ID] [uniqueidentifier] NOT NULL,
	[DailyOutputID] [uniqueidentifier] NULL,
	[StyleDetailID] [uniqueidentifier] NOT NULL,
	[OutputNumber] [int] NULL,
	[InputTime] [time](7) NOT NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](100) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[ControllerName] [nvarchar](100) NULL,
	[Path] [nvarchar](255) NULL,
	[ParentID] [uniqueidentifier] NULL,
	[SortOrder] [int] NOT NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionDepartment]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionDepartment](
	[ID] [uniqueidentifier] NOT NULL,
	[DepartmentName] [nvarchar](255) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionDepartmentLayout]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionDepartmentLayout](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[RowCount] [int] NOT NULL,
	[ColumnCount] [int] NOT NULL,
	[CellWidth] [decimal](18, 4) NULL,
	[CellHeight] [decimal](18, 4) NULL,
	[Gap] [decimal](18, 4) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionInfo]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionInfo](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentID] [uniqueidentifier] NOT NULL,
	[Line] [varchar](5) NULL,
	[Style] [varchar](50) NULL,
	[SPMain] [varchar](50) NULL,
	[TotalQty] [int] NULL,
	[FinishQTY] [int] NULL,
	[Color] [varchar](50) NULL,
	[Target] [int] NULL,
	[InlineLine] [date] NULL,
	[InlineDepartment] [date] NULL,
	[Remark] [nvarchar](255) NULL,
	[Machine] [int] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionMachine]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionMachine](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentID] [uniqueidentifier] NOT NULL,
	[MachineNumber] [nvarchar](100) NOT NULL,
	[Remark] [nvarchar](max) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Producti__3214EC278D2C1BF7] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductLayoutItem]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductLayoutItem](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionMachineID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentLayoutID] [uniqueidentifier] NOT NULL,
	[X] [decimal](10, 2) NULL,
	[Y] [decimal](10, 2) NULL,
	[Width] [decimal](10, 2) NULL,
	[Height] [decimal](10, 2) NULL,
	[RowIndex] [int] NULL,
	[ColumnIndex] [int] NULL,
	[SortOrder] [int] NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ProductLayoutItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePagePermissions]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePagePermissions](
	[ID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[PageID] [uniqueidentifier] NOT NULL,
	[PermissionID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [uniqueidentifier] NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[ID] [uniqueidentifier] NOT NULL,
	[Key] [nvarchar](255) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SystemSetting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StyleDetail]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StyleDetail](
	[ID] [uniqueidentifier] NOT NULL,
	[StyleInfoID] [uniqueidentifier] NOT NULL,
	[DetailName] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StyleInfo]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StyleInfo](
	[ID] [uniqueidentifier] NOT NULL,
	[ProductionDepartmentID] [uniqueidentifier] NOT NULL,
	[StyleCode] [nvarchar](100) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPagePermissions]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPagePermissions](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[PageID] [uniqueidentifier] NOT NULL,
	[PermissionID] [uniqueidentifier] NOT NULL,
	[IsGranted] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[ID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[Status] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/21/2026 11:05:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[MSNV] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[HashCode] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Keyword] [nvarchar](255) NULL,
	[Status] [int] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
	[CreateBy] [uniqueidentifier] NULL,
	[UpdateBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK__Users__3214EC2749C0636F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Pages] ([ID], [Code], [Name], [ControllerName], [Path], [ParentID], [SortOrder], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'cd9d3fde-1e26-496e-90f7-07d5c8693110', N'ProductionInfoHistory', N'ProductionInfoHistory', N'ProductionProgress', N'/ProductionProgress/ProductionInfoHistory', NULL, 0, NULL, 1, CAST(N'2026-09-21T10:41:00.967' AS DateTime), CAST(N'2026-09-21T10:41:00.967' AS DateTime), NULL, NULL)
INSERT [dbo].[Pages] ([ID], [Code], [Name], [ControllerName], [Path], [ParentID], [SortOrder], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'3dde13ca-ae59-4333-a3df-1025a46cc4ae', N'ATProgress', N'ATProgress', N'ProductionProgress', N'/ProductionProgress/ATProgress', NULL, 0, NULL, 1, CAST(N'2026-09-17T08:50:23.083' AS DateTime), CAST(N'2026-09-17T08:50:23.083' AS DateTime), NULL, NULL)
INSERT [dbo].[Pages] ([ID], [Code], [Name], [ControllerName], [Path], [ParentID], [SortOrder], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'e65cd9b3-5522-4f30-8e01-16eb9b005a2a', N'DepartmentList', N'DepartmentList', N'ProductionDepartment', N'/ProductionDepartment/DepartmentList', NULL, 0, NULL, 1, CAST(N'2026-09-16T17:03:10.140' AS DateTime), CAST(N'2026-09-16T17:03:10.140' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Permissions] ([ID], [Code], [Name], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'2b82ef75-d4bf-4f25-b77b-037876813874', N'VIEW', N'Xem', N'', 1, CAST(N'2026-09-16T17:39:24.497' AS DateTime), CAST(N'2026-09-16T17:39:24.497' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ProductionDepartment] ([ID], [DepartmentName], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'4d0c9a78-0408-4657-b2a8-6ffb36e09549', N'BO-LA', N'BO-LA', 1, CAST(N'2026-09-12T12:29:33.850' AS DateTime), CAST(N'2026-09-12T12:29:33.850' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductionDepartment] ([ID], [DepartmentName], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'5eac5450-acc7-4f32-acd5-725a9bc9d0ec', N'EMB', N'EMB', 1, CAST(N'2026-09-03T17:53:52.557' AS DateTime), CAST(N'2026-09-11T17:56:48.667' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductionDepartment] ([ID], [DepartmentName], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'a330fb7f-d436-48c4-9f58-9b657fbd9254', N'HT', N'HT', 1, CAST(N'2026-09-11T17:57:09.147' AS DateTime), CAST(N'2026-09-11T17:57:09.147' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[ProductionDepartmentLayout] ([ID], [ProductionDepartmentID], [Name], [RowCount], [ColumnCount], [CellWidth], [CellHeight], [Gap], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'bbd8f001-d78b-42a6-8164-62241239d445', N'1a5bb088-4a00-4f20-8baf-bb1f10c56e67', N'Layout FM', 3, 4, NULL, NULL, CAST(12.0000 AS Decimal(18, 4)), -2, CAST(N'2026-09-18T18:00:47.173' AS DateTime), CAST(N'2026-09-21T10:49:39.750' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductionDepartmentLayout] ([ID], [ProductionDepartmentID], [Name], [RowCount], [ColumnCount], [CellWidth], [CellHeight], [Gap], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'c11066f0-5632-4320-bcec-76cd745beb42', N'5eac5450-acc7-4f32-acd5-725a9bc9d0ec', N'Layout EMB', 4, 13, NULL, NULL, CAST(12.0000 AS Decimal(18, 4)), -2, CAST(N'2026-09-09T18:44:09.630' AS DateTime), CAST(N'2026-09-21T10:49:36.527' AS DateTime), NULL, NULL)
INSERT [dbo].[ProductionDepartmentLayout] ([ID], [ProductionDepartmentID], [Name], [RowCount], [ColumnCount], [CellWidth], [CellHeight], [Gap], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'aef709b9-51e7-4c86-858e-b987a7debca6', N'aed6de92-4664-4592-a59e-ee886661ee53', N'Layout AT', 13, 10, NULL, NULL, CAST(12.0000 AS Decimal(18, 4)), -2, CAST(N'2026-09-09T18:43:12.967' AS DateTime), CAST(N'2026-09-21T10:49:28.070' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[RolePagePermissions] ([ID], [RoleID], [PageID], [PermissionID], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'530a9744-8d33-4c26-a6c2-0b16281a52cc', N'a2894356-d7cd-4ec3-bc14-2a5dd2e4f0f1', N'5913dd38-195f-4734-b1c5-f20a3f3cd973', N'2b82ef75-d4bf-4f25-b77b-037876813874', 1, CAST(N'2026-09-21T10:42:49.933' AS DateTime), CAST(N'2026-09-21T10:42:49.933' AS DateTime), NULL, NULL)
INSERT [dbo].[RolePagePermissions] ([ID], [RoleID], [PageID], [PermissionID], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'7ece894d-2413-44f3-a4e8-0c7d110ba66e', N'a2894356-d7cd-4ec3-bc14-2a5dd2e4f0f1', N'2bd4138d-db2a-4676-b9f6-93c1d78c2b53', N'2b82ef75-d4bf-4f25-b77b-037876813874', 1, CAST(N'2026-09-21T10:42:49.947' AS DateTime), CAST(N'2026-09-21T10:42:49.947' AS DateTime), NULL, NULL)
INSERT [dbo].[RolePagePermissions] ([ID], [RoleID], [PageID], [PermissionID], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'7b059cd6-9324-42b1-bc5a-0e12ba98567e', N'756aff6b-01e5-451e-98c2-d22820324963', N'2bd4138d-db2a-4676-b9f6-93c1d78c2b53', N'2b82ef75-d4bf-4f25-b77b-037876813874', 1, CAST(N'2026-09-16T17:40:13.690' AS DateTime), CAST(N'2026-09-16T17:40:13.690' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Roles] ([ID], [Code], [Name], [Description], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'322a621b-8599-4a4b-99b1-29de8fd81f84', N'SUP', N'SUP', N'Xem là chính', NULL, 1, CAST(N'2026-09-16T15:07:09.593' AS DateTime), CAST(N'2026-09-16T15:07:09.593' AS DateTime), NULL, NULL)
INSERT [dbo].[Roles] ([ID], [Code], [Name], [Description], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'a2894356-d7cd-4ec3-bc14-2a5dd2e4f0f1', N'Admin', N'Admin', N'Đấng sáng tạo', NULL, 1, CAST(N'2026-09-16T14:40:57.970' AS DateTime), CAST(N'2026-09-21T10:42:18.820' AS DateTime), NULL, NULL)
INSERT [dbo].[Roles] ([ID], [Code], [Name], [Description], [Keyword], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'756aff6b-01e5-451e-98c2-d22820324963', N'STAFF', N'STAFF', N'Ghi là chính', NULL, 1, CAST(N'2026-09-16T15:07:42.020' AS DateTime), CAST(N'2026-09-16T17:14:34.717' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Setting] ([ID], [Key], [Value], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'934410f9-cbbc-4656-ba33-0bc67e7219aa', N'Backup_MaxKeepFiles', N'30', 1, CAST(N'2026-09-18T19:21:07.843' AS DateTime), CAST(N'2026-09-18T19:33:35.883' AS DateTime), NULL, NULL)
INSERT [dbo].[Setting] ([ID], [Key], [Value], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'11f24b71-2d7b-41f0-bd9e-0d05f3857d21', N'HomeBackground', N'/uploads/settings/home_bg_639253314451633149.jpg', 1, CAST(N'2026-09-17T10:49:37.313' AS DateTime), CAST(N'2026-09-18T12:30:45.173' AS DateTime), NULL, NULL)
INSERT [dbo].[Setting] ([ID], [Key], [Value], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'c2f60df9-d065-47a4-8916-12c49ad68e50', N'Backup_FolderPath', N'wwwroot/backups', 1, CAST(N'2026-09-18T19:21:07.657' AS DateTime), CAST(N'2026-09-18T19:33:35.873' AS DateTime), NULL, NULL)



GO
INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'45303dbd-9daa-4d9e-a4c3-1197aab641d4', N'd3ae1b4c-71c1-41c1-bfb0-8d8ab26dc058', N'a2894356-d7cd-4ec3-bc14-2a5dd2e4f0f1', 1, CAST(N'2026-09-17T08:49:05.927' AS DateTime), CAST(N'2026-09-17T08:49:05.927' AS DateTime), NULL, NULL)
INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'343d1a5e-f360-4c56-ba7d-67000f39bc2d', N'287896ea-640d-48d7-9fa3-9f9f749ae7d9', N'756aff6b-01e5-451e-98c2-d22820324963', 1, CAST(N'2026-09-16T17:14:42.703' AS DateTime), CAST(N'2026-09-16T17:14:42.703' AS DateTime), NULL, NULL)
INSERT [dbo].[UserRoles] ([ID], [UserID], [RoleID], [Status], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'64e8d7fc-da9c-46aa-b3b9-afb744229776', N'044bbfb5-7aa4-4bd0-bd7d-eb13147d7cb0', N'a2894356-d7cd-4ec3-bc14-2a5dd2e4f0f1', 1, CAST(N'2026-09-16T15:06:29.543' AS DateTime), CAST(N'2026-09-16T15:06:29.543' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[Users] ([ID], [Username], [MSNV], [Email], [PasswordHash], [HashCode], [FullName], [Keyword], [Status], [ExpiryDate], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'4427fa29-926d-41c3-8d3d-897b6ecd7343', N'admin', N'ADMIN', N'admin@snp.local', N'447c20d8ec3c43d0479e62bce69586c6b7e2ffc265b81bc82d613afef432b709', N'bdbd7e4b85365ea1b0b476e6b8db0196', N'Administrator', N'', 1, CAST(N'2125-09-16T17:12:47.820' AS DateTime), CAST(N'2026-09-16T17:12:47.820' AS DateTime), CAST(N'2026-09-16T17:12:47.820' AS DateTime), NULL, NULL)
INSERT [dbo].[Users] ([ID], [Username], [MSNV], [Email], [PasswordHash], [HashCode], [FullName], [Keyword], [Status], [ExpiryDate], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'd3ae1b4c-71c1-41c1-bfb0-8d8ab26dc058', N'N13747', N'N13747', N'khiem391999@gmail.com', N'863bc4bfc944d4de86b0dc18be9d6bb6f2e63421fffba93637a6fad3403a1b42', N'c51d8d8c19b5416a6fbb150e5c252013', N'DDK', N'', 1, CAST(N'2030-12-31T00:00:00.000' AS DateTime), CAST(N'2026-09-17T08:47:57.910' AS DateTime), CAST(N'2026-09-17T08:47:57.910' AS DateTime), NULL, NULL)
INSERT [dbo].[Users] ([ID], [Username], [MSNV], [Email], [PasswordHash], [HashCode], [FullName], [Keyword], [Status], [ExpiryDate], [CreateDate], [UpdateDate], [CreateBy], [UpdateBy]) VALUES (N'c8f3e073-3d72-4a49-80c1-938fbe201350', N'test', N'test', N'', N'dc373af9c698089d451abc5a8c2a64d9a9025741544756d3b5f0063e8e49f082', N'cf69350e79cb24866ac62eec8c325af5', N'test', N'', 1, CAST(N'2027-09-16T00:00:00.000' AS DateTime), CAST(N'2026-09-17T09:05:12.827' AS DateTime), CAST(N'2026-09-17T09:35:32.523' AS DateTime), NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Pages__A25C5AA75D37E892]    Script Date: 9/21/2026 11:05:47 AM ******/
ALTER TABLE [dbo].[Pages] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__A25C5AA7C2D0DFB0]    Script Date: 9/21/2026 11:05:47 AM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_RolePagePermissions]    Script Date: 9/21/2026 11:05:47 AM ******/
ALTER TABLE [dbo].[RolePagePermissions] ADD  CONSTRAINT [UQ_RolePagePermissions] UNIQUE NONCLUSTERED 
(
	[RoleID] ASC,
	[PageID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__A25C5AA7DC73E51A]    Script Date: 9/21/2026 11:05:47 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserPagePermissions]    Script Date: 9/21/2026 11:05:47 AM ******/
ALTER TABLE [dbo].[UserPagePermissions] ADD  CONSTRAINT [UQ_UserPagePermissions] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[PageID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_UserRoles]    Script Date: 9/21/2026 11:05:47 AM ******/
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [UQ_UserRoles] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4505ABDEB]    Script Date: 9/21/2026 11:05:47 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E4505ABDEB] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__6CB3885EDC394B36]    Script Date: 9/21/2026 11:05:47 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__6CB3885EDC394B36] UNIQUE NONCLUSTERED 
(
	[MSNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105347083461A]    Script Date: 9/21/2026 11:05:47 AM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__A9D105347083461A] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[DailyOutput] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT (CONVERT([time],getdate())) FOR [InputTime]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[DailyOutputDetail] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Pages] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Permissions] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductionDepartment] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductionInfo] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__ProductionMa__ID__5AEE82B9]  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__Productio__Statu__5BE2A6F2]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__Productio__Creat__5CD6CB2B]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ProductionMachine] ADD  CONSTRAINT [DF__Productio__Updat__5DCAEF64]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ProductLayoutItem] ADD  CONSTRAINT [DF__ProductLa__Statu__3B40CD36]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[RolePagePermissions] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Setting] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Setting] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Setting] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Setting] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[StyleDetail] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT (newsequentialid()) FOR [ID]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[StyleInfo] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[UserPagePermissions] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[UserPagePermissions] ADD  DEFAULT ((1)) FOR [IsGranted]
GO
ALTER TABLE [dbo].[UserPagePermissions] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[UserPagePermissions] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[UserPagePermissions] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__ID__5224328E]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__Status__531856C7]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreateDat__540C7B00]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__UpdateDat__55009F39]  DEFAULT (getdate()) FOR [UpdateDate]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_Log_Page] FOREIGN KEY([PageID])
REFERENCES [dbo].[Pages] ([ID])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_Log_Page]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [FK_Log_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [FK_Log_User]
GO
ALTER TABLE [dbo].[DailyOutput]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutput_ProductionInfo] FOREIGN KEY([ProductionInfoID])
REFERENCES [dbo].[ProductionInfo] ([ID])
GO
ALTER TABLE [dbo].[DailyOutput] CHECK CONSTRAINT [FK_DailyOutput_ProductionInfo]
GO
ALTER TABLE [dbo].[DailyOutput]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutput_ProductionMachine1] FOREIGN KEY([ProductionMachineID])
REFERENCES [dbo].[ProductionMachine] ([ID])
GO
ALTER TABLE [dbo].[DailyOutput] CHECK CONSTRAINT [FK_DailyOutput_ProductionMachine1]
GO
ALTER TABLE [dbo].[DailyOutput]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutput_StyleInfo] FOREIGN KEY([StyleInfoID])
REFERENCES [dbo].[StyleInfo] ([ID])
GO
ALTER TABLE [dbo].[DailyOutput] CHECK CONSTRAINT [FK_DailyOutput_StyleInfo]
GO
ALTER TABLE [dbo].[DailyOutputDetail]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutputDetail_DailyOutput] FOREIGN KEY([DailyOutputID])
REFERENCES [dbo].[DailyOutput] ([ID])
GO
ALTER TABLE [dbo].[DailyOutputDetail] CHECK CONSTRAINT [FK_DailyOutputDetail_DailyOutput]
GO
ALTER TABLE [dbo].[DailyOutputDetail]  WITH CHECK ADD  CONSTRAINT [FK_DailyOutputDetail_StyleDetail] FOREIGN KEY([StyleDetailID])
REFERENCES [dbo].[StyleDetail] ([ID])
GO
ALTER TABLE [dbo].[DailyOutputDetail] CHECK CONSTRAINT [FK_DailyOutputDetail_StyleDetail]
GO
ALTER TABLE [dbo].[Pages]  WITH CHECK ADD  CONSTRAINT [FK_Pages_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Pages] ([ID])
GO
ALTER TABLE [dbo].[Pages] CHECK CONSTRAINT [FK_Pages_Parent]
GO
ALTER TABLE [dbo].[ProductionDepartmentLayout]  WITH CHECK ADD  CONSTRAINT [FK_ProductionDepartmentLayout_ProductionDepartment] FOREIGN KEY([ProductionDepartmentID])
REFERENCES [dbo].[ProductionDepartment] ([ID])
GO
ALTER TABLE [dbo].[ProductionDepartmentLayout] CHECK CONSTRAINT [FK_ProductionDepartmentLayout_ProductionDepartment]
GO
ALTER TABLE [dbo].[ProductionInfo]  WITH CHECK ADD  CONSTRAINT [FK_ProductionInfo_ProductionDepartment] FOREIGN KEY([ProductionDepartmentID])
REFERENCES [dbo].[ProductionDepartment] ([ID])
GO
ALTER TABLE [dbo].[ProductionInfo] CHECK CONSTRAINT [FK_ProductionInfo_ProductionDepartment]
GO
ALTER TABLE [dbo].[ProductionMachine]  WITH CHECK ADD  CONSTRAINT [FK_ProductionMachine_ProductionDepartment] FOREIGN KEY([ProductionDepartmentID])
REFERENCES [dbo].[ProductionDepartment] ([ID])
GO
ALTER TABLE [dbo].[ProductionMachine] CHECK CONSTRAINT [FK_ProductionMachine_ProductionDepartment]
GO
ALTER TABLE [dbo].[ProductLayoutItem]  WITH CHECK ADD  CONSTRAINT [FK_ProductLayoutItem_ProductionDepartmentLayout] FOREIGN KEY([ProductionDepartmentLayoutID])
REFERENCES [dbo].[ProductionDepartmentLayout] ([ID])
GO
ALTER TABLE [dbo].[ProductLayoutItem] CHECK CONSTRAINT [FK_ProductLayoutItem_ProductionDepartmentLayout]
GO
ALTER TABLE [dbo].[ProductLayoutItem]  WITH CHECK ADD  CONSTRAINT [FK_ProductLayoutItem_ProductionMachine] FOREIGN KEY([ProductionMachineID])
REFERENCES [dbo].[ProductionMachine] ([ID])
GO
ALTER TABLE [dbo].[ProductLayoutItem] CHECK CONSTRAINT [FK_ProductLayoutItem_ProductionMachine]
GO
ALTER TABLE [dbo].[RolePagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RPP_Page] FOREIGN KEY([PageID])
REFERENCES [dbo].[Pages] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePagePermissions] CHECK CONSTRAINT [FK_RPP_Page]
GO
ALTER TABLE [dbo].[RolePagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RPP_Permission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePagePermissions] CHECK CONSTRAINT [FK_RPP_Permission]
GO
ALTER TABLE [dbo].[RolePagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RPP_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePagePermissions] CHECK CONSTRAINT [FK_RPP_Role]
GO
ALTER TABLE [dbo].[StyleDetail]  WITH CHECK ADD  CONSTRAINT [FK_StyleDetail_StyleInfo] FOREIGN KEY([StyleInfoID])
REFERENCES [dbo].[StyleInfo] ([ID])
GO
ALTER TABLE [dbo].[StyleDetail] CHECK CONSTRAINT [FK_StyleDetail_StyleInfo]
GO
ALTER TABLE [dbo].[UserPagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_UPP_Page] FOREIGN KEY([PageID])
REFERENCES [dbo].[Pages] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPagePermissions] CHECK CONSTRAINT [FK_UPP_Page]
GO
ALTER TABLE [dbo].[UserPagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_UPP_Permission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPagePermissions] CHECK CONSTRAINT [FK_UPP_Permission]
GO
ALTER TABLE [dbo].[UserPagePermissions]  WITH CHECK ADD  CONSTRAINT [FK_UPP_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserPagePermissions] CHECK CONSTRAINT [FK_UPP_User]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [CK_Log_NewValue_JSON] CHECK  (([NewValue] IS NULL OR isjson([NewValue])=(1)))
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [CK_Log_NewValue_JSON]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD  CONSTRAINT [CK_Log_OldValue_JSON] CHECK  (([OldValue] IS NULL OR isjson([OldValue])=(1)))
GO
ALTER TABLE [dbo].[ActivityLogs] CHECK CONSTRAINT [CK_Log_OldValue_JSON]
GO
